// breakpoints
$tablet-width: 767px;
$desktop-width: 1280px;

// colours
$primary_background: #fefefa;
$blizzard_blue:#ace5ee;
$baby-pink: #f4c2c2;
$bone: #FAF6F2;


$lightgrey: #E1E1E1;
$black: #252321;